# python
venv/
__pycache__/
*.pyc
*.pyo

# env (ignore real secrets only)
.env
.env.local
.env.development
.env.production
.env.test

# database
*.sqlite3

# django
staticfiles/
media/

# node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db
